[2016-12-22 20:03] m1ga opened #2 "Android parity"
Add missing android parts

- [x] startScanWithServices
- [ ] didDiscoverServices
- [ ] didDiscoverCharacteristicsForService
- [ ] didUpdateValueForCharacteristic

[2016-12-22 21:49] AppWerft commented on #2
Awesome work, i will look into tomorrow. Is it a generic BT-interface?

[2016-12-23 10:19] hansemannn commented on #2
@AppWerft feel free to also contribute!

[2016-12-23 15:30] hansemannn commented on #2
@m1ga Exposed `startScan` on iOS so we have good parity there. Also renamed `scanForPeripheralsWithServices` to `startScanWithServices` which takes an array of UUID's.

[2016-12-23 15:33] m1ga commented on #2
👍 got it. I've changed my list

[2016-12-25 09:57] AppWerft commented on #2
@m1ga  Do you see a sense to start scan with different modes (BALANCED, LOW_LATENCY, LOW_POWER,OPPORTUNISTIC) ?

[2016-12-25 11:05] m1ga commented on #2
@AppWerft I didn't use BLE in any real-world project yet so I can't tell which scan mode is better but I think it's good to have a choice to set it. I've added `getScanMode()` and `setScanMode()` so you can set it yourself

[2016-12-25 16:26] AppWerft commented on #2
OK, my thought was to use a method parameter …  I think serious about BT apps.

[2016-12-25 17:20] hansemannn commented on #2
Having those in modes is better for scalable API's. Messing up the parameters should be avoided.

[2016-12-25 19:15] AppWerft commented on #2
OK I have added setter and getter for it. Do you mean it is better to use parameters in methods to keep clean the class from new properties. What kind of pattern do you prefere?

[2016-12-25 19:20] m1ga commented on #2
Like I've said in the previous comment: getter and setter is already implemented. I'll check your PR later and see what I can use

[2016-12-25 19:23] AppWerft commented on #2
Ok, thsi was a parallel dev. anyway.

[code]

[2016-12-25 22:28] m1ga commented on #2
Started to work on `didDiscoverServices` and `didDiscoverCharacteristicsForService`. Commited the code already but still have to test it tomorrow.

[2016-12-26 12:30] AppWerft opened #4 "Expose BluetoothDeviceProxy on Android"
@miga Does we need a proxy for this? `onScanResult` could return a proxy instead of a simple dict. I think in next step we need methods on this Bluetoothdevice like `connectGatt` and ``writetoparcel etc.

[2016-12-26 12:36] hansemannn commented on #4
@AppWerft wrong person linked

[2016-12-26 15:52] AppWerft commented on #4
@hans OK, I start a proxy.

[2016-12-26 17:50] AppWerft opened #6 "New PR - I should compare"
@hansemannn I have added 4 new classes in java, but I cannot PR. The system shows me a lot of your changes in folder ios. What can i do?

[2016-12-26 18:43] hansemannn commented on #6
Please resolve the merge conflicts or do a clean branch and copy-paste your android directory into it to apply the changes

[2016-12-26 18:43] #6 closed

[2016-12-26 18:43] hansemannn commented on #4
It's @m1ga, not @miga, that's what i meant  ;-)

[2016-12-26 18:46] m1ga commented on #4
👍 Then I'll get notified.
Adding more features is of course possible. At the moment I'll try to work on the parity issue first. Then we'll add more features (and make a roadmap or something)
What do you mean with `BluetoothDeviceProxy`? Don't find anything in the documentation or are you talking about exposing all BluetoothDevice settings

[2016-12-26 18:49] AppWerft commented on #4
@m1ga I will expose all needed stuff. Look here: https://github.com/AppWerft/ti.bluetooth/tree/master/android/src/ti/bluetooth
Currently I cannot PR, because @hansemannn made a lot in iphone folder.

[2016-12-26 18:56] m1ga commented on #4
Again: just add the necessary files with `git add file.a file.b ...` and you can create a PR just for your files and not for everything. Or if you are using a GUI like SourceTree you can just select the files you want to add in your PR

[2016-12-26 18:58] hansemannn commented on #4
See #6, just create a new branch based on the latest master, copy the Android into there and commit it. Easy as that.

[2016-12-26 19:10] AppWerft commented on #4
@m1ga I have only added my java files. I have in Studio in commit window only the java files

@hansemannn I will try, I think the best solution.

[2016-12-26 19:11] #4 closed

[2016-12-26 19:12] AppWerft commented on #4
and how "create a new branch based on the latest master"? Sorry.

[2016-12-26 19:34] m1ga commented on #4
either update your current fork:
https://github.com/hansemannn/ti.bluetooth/pull/3#issuecomment-269133799
or like this: http://stackoverflow.com/a/7244456/5193915
or create a new fork and start from there

[2016-12-29 00:13] hansemannn opened #11 "Refactor iOS source"
I am currently in the process of refactoring the iOS module. We should be more flexible when having peripherals vs. centrals. Example:

[code]

Involved API's (not all creatable):
[code]

Then we can scan (central manager) and advertise (peripheral manager) with those instances. Since this concept is very common, a cross-platform API could be even better to realise and we are more flexible for mor

[2016-12-29 08:20] #11 closed

[2016-12-29 08:33] hansemannn commented on #2
Closing this ticket for now, since detaching both modules will speed-up each module's process. Still planning to normalize it as soon as we know what API's can be exposed cross-platform.

[2016-12-29 08:33] #2 closed

[2016-12-29 10:03] AppWerft opened #12 "BroadcastReceiver entry in manifest (timodule.xml)"
[code]

[2016-12-29 12:38] AppWerft opened #13 "Proposal: adding fetchUuidsWithSdp"
Hi,

for this we need a `BluetoothAdapter.ACTION_DISCOVERY_FINISHED`. event.

[code]
The we could:
[code]

[2016-12-29 16:11] hansemannn commented on #12
Good idea! Can you do an own PR for that file so we can merge it asap?

[2016-12-29 16:12] AppWerft commented on #12
Yes I change my gitignore.

[2016-12-31 11:36] #12 closed

[2016-12-31 11:36] hansemannn commented on #12
Added as part of #10

[2017-03-01 15:14] aarondfrancis opened #14 "Challenge / Response"
First of all, thanks for this awesome module. I've been able to scan and identify the bluetooth device I'm looking for. What I can't figure out, however, is how to authenticate to it. I was able to connect, but it immediately disconnected. I don't need to necessarily know the authentications codes, just how one would go about it. It connected and immediately disconnected.

[code]

The device I'm t

[2017-03-13 12:03] hansemannn commented on #14
Check this: https://lists.apple.com/archives/bluetooth-dev/2013/Apr/msg00151.html - Seems to happen in the native world as well.

[2017-03-26 10:37] #14 closed

[2017-03-28 19:29] kosso opened #15 "Unable to import project into Studio"
Hi,
I've forked this and tried to import the project into Studio and it does not seem to recognise the iOS version. Only Package Android Module is available.

I seem to often have this problem with cross-platform (dual) modules. And I have never been able to set one up myself. (Always two separate projects).

Is there a trick I'm missing? ;)  Thanks.

[2017-03-29 08:18] hansemannn commented on #15
Probably Studio only detects "iphone" directories in there, not "ios". No idea...

[2017-03-29 10:17] kosso commented on #15
Hmm. But how did you create the dual-platform module?  There is no option in Studio to create both at once, since it is a 'radio' option. And trying to create one after another causes Studio to complain too.

[2017-03-29 10:18] kosso commented on #15
btw. Great work. Very comprehensive. ;)

[2017-03-29 10:22] kosso commented on #15
btw # 2 : I noticed that the startAdvertising and stopAdvertising methods are not documented.  Are they working?

(I built a small "advertising-only" module last night : https://github.com/kosso/tibeacon )

[2017-03-29 10:41] hansemannn commented on #15
Saw it, would be great to have one module to rule them all. Should work though. I never created or built through Studio. Please feel free to help maintaining!

[2017-03-29 11:07] kosso commented on #15
I think it may be time for a Jira ticket... ;)

:+1:

[2017-03-29 11:14] hansemannn commented on #15
Works for me when renaming to "iphone".
<img width="344" alt="bildschirmfoto 2017-03-29 um 13 14 17" src="https://cloud.githubusercontent.com/assets/10667698/24452040/ab1ab984-1481-11e7-8b25-592f304c5c34.png">

[2017-03-29 11:17] hansemannn commented on #15
Fixed in https://github.com/hansemannn/titanium-bluetooth/commit/0dcf755618502dd81a846d905512ab18e47c79a8.

[2017-03-29 11:17] #15 closed

[2017-03-29 11:22] kosso commented on #15
:+1:

[2017-03-30 13:21] PietroGranati opened #16 "Not a issue but a question"
Maybe is my fault, but how I can connect to a BLE device once I found that?

[2017-05-03 14:55] yoannwyffels commented on #16
Hello,

I'm having same question :)
Do you have any answer ?

Thanks !

[2017-05-05 14:36] yoannwyffels opened #17 "discoverCharacteristicsForService(..) => Index 1 beyond bounds"
Hello,

I'm trying to accomplish connection and discover Bluetooth services.
It's working:

!!!! Found MLT !!!!!
[INFO] :   didConnectPeripheral
[INFO] :   {
[INFO] :       bubbles = 1;
[INFO] :       cancelBubble = 0;
[INFO] :       peripheral = "[object TiBluetoothPeripheral]";
[INFO] :       source = "[object TiBluetoothCentralManager]";
[INFO] :       type = didConnectPeripheral;
[INFO] :   }

[2017-05-05 14:47] hansemannn commented on #17
Thanks, will check! Can you output the content of the `myPeripheral.services` array?

[2017-05-05 22:21] hansemannn commented on #17
I checked the source. The correct usage is:
[code]

[2017-05-05 22:22] #17 closed

[2017-05-18 14:14] bahinapster opened #18 "Android build failed"
Hello ,

i am trying to build the module for android but i am facing an issue with javac source and target as i think.
Titanium SDK 6.0.4
JDK 1.7

can you please help with this ?

`Failed to compile Java source files:
[ERROR] :  
[ERROR] :  warning: [options] bootstrap class path not set in conjunction with -source 1.6
[ERROR] :  Note: [KrollBindingGen] Running Kroll binding generator.
[

[2017-05-18 15:35] bahinapster opened #19 "Invalid method (createCentralManager) passed to TiBluetoothModule"
Hello ,
i did a sample usage of the module , but it craches at launching when i call createCentralManager method.
SDK 6.0.4
IOS : 10.3.1

module version 1.0.3 beta ios

Attempted to load TiBluetoothCentralManagerProxy: Could not find class definition.
[ERROR] :  Script Error {
[ERROR] :      column = 203;
[ERROR] :      line = 1;
[ERROR] :      message = "invalid method (createCentralManager) pass

[2017-05-18 17:38] hansemannn commented on #19
Please build from the source, there has been 70 commits since the last beta version.

[2017-05-18 17:39] hansemannn commented on #19
Keeping it open for now, let me draft a new beta version.

[2017-05-18 17:49] hansemannn commented on #19
Drafted https://github.com/hansemannn/titanium-bluetooth/releases/tag/ios-1.0.0-beta.4

[2017-05-18 17:49] #19 closed

[2017-05-20 09:57] m1ga commented on #18
Sorry, there was a typo. Fixed now

[2017-05-20 09:57] #18 closed

[2017-05-20 14:27] hansemannn commented on #16
Please check one of the available [`CoreBluetooth tutorials`](https://www.raywenderlich.com/52080/introduction-core-bluetooth-building-heart-rate-monitor) tutorials for more infos.

[2017-05-20 14:27] #16 closed

[2017-05-22 13:16] focussing opened #20 "Documentation missing"
Hi!

Until now I worked with the modules from Logicallabs. I would like to test the ti.bluetooth module in my apps. Could you complete or provide otherwise documentation, for example how to connect to a device, subscribe to characteristics, write to a characteristic, etc?

[2017-05-22 14:29] bahinapster commented on #19
Hello hansemannn,

thank you for your replay, even from source or with the last commit i still have the same issue (beta4 included)

Best regards.

[2017-05-22 14:39] hansemannn commented on #20
This project is community-based on lives from the contributions we and others make. An API documentation can be found in the [Wiki page](https://github.com/hansemannn/titanium-bluetooth/wiki) of this project, please feel free to add more to it.

[2017-05-22 14:39] #20 closed

[2017-05-22 14:44] focussing commented on #20
Sorry, I was not aware of the wiki page.
That will help!
Thank you.

[2017-06-16 13:28] focussing opened #23 "First 1.1.0 test results (iPhone)"
Tested the new 1.1.0 release.
Main issue is that no reporting of UUIDs is done when reporting discovered peripherals, services and characteristics.
It discovers my Bluetooth device (VB-1913...), and connects to this device.
When the device is connected it finds it's 1 service, and finds that this service has  characteristic(s).
However it doesn't report which characteristics.

In order to use this

[2017-06-16 15:19] hansemannn commented on #23
Hey there, thanks for the demo-code and logs. I am curious if this a module problem, here is why: We basically wrap all native API's, but especially on events, we don't do any other business-logic. See some details here:
- We fire the event [here](https://github.com/hansemannn/titanium-bluetooth/blob/master/iphone/Classes/TiBluetoothPeripheralProxy.m#L188)
- We wrap the native peripheral [here](ht

[2017-06-20 13:17] focussing commented on #23
Thanks Hans, I am not "at home" in iOS source code, but I can see what is going on. Sorry for that.
I have tested again with the new release 1.1.1 released this morning. Still I can't get any UUID information in the console.

Also firing discoverCharacteristicsForService does not result in a didDiscoverCharacteristicsForService event being fired. Maybe the call is not correct; I can't derive that

[2017-06-20 13:27] hansemannn commented on #23
I know @wsliaw recently did a lot with the module, maybe he can help?

[2017-06-20 13:42] wsliaw commented on #23
1. For now the module hasn't expose uuid for service & characteristic
2. Try move `didDiscoverCharacteristicsForService` & `didUpdateValueForCharacteristic` listeners inside `didDiscoverServices callback`
[code]

[2017-06-20 13:52] focussing commented on #23
Thanks! didDiscoverCharacteristicsForService is now fired. Maybe the example should be updated with this.

Could the module be updated so the UUID's are exposed for service & characteristic and also for peripheral?
This is needed when building an app where multipe UUID's are present.

Another question; how can I send a UINT64 value (byte array length 8) over Bluetooth? Javascript does not support

[2017-06-20 13:55] wsliaw commented on #23
Yea, I think I'll make a PR for that

This is how I do it:

[code]

[2017-06-20 14:02] hansemannn commented on #23
PR ready for the UUID properties, 1.1.2 on the way.

[2017-06-20 14:03] focussing commented on #23
I just see that the didDiscoverCharacteristicsForService is only fired once, yet there are 2 services having 5 characteristics each.

This is the log when I use the BLE module from Logicallabs
[code]

[2017-06-20 14:05] hansemannn commented on #23
Release 1.1.2: https://github.com/hansemannn/titanium-bluetooth/releases/tag/ios-v1.1.2

[2017-06-20 14:14] wsliaw commented on #23
@focussing so what did you get from `ti.bluetooth` ? I never advertise 2 services from a peripheral before

[2017-06-20 14:37] focussing commented on #23
The Bluetooth device I am using advertises 2 services. Ti.Bluetooth sees that, so per service a "didDiscoverCharacteristicsForService" has to be done.

I am testing with 1.1.2 version now, but I don't get uuid reported, for example from didDiscoverPeripheral.

[code]

Also didDiscoverCharacteristicsForService is not fired.

[2017-06-21 06:42] hansemannn commented on #23
@focussing Peripherals do not have a UUID, they are identified via their `name` and `services`. The   `connectPeripheral` looks correctly.

[2017-06-21 07:19] focussing commented on #23
True! Of course you are right. Sorry!

This is the code and log. The only thing right now is that only the first of 2 service's characteristics are discovered:

[code]

[code]

[2017-06-21 07:38] hansemannn commented on #23
Maybe because you are using `discoverCharacteristicsForService ` directly after the first service is found, so iOS might guess you are not waiting for others to be discovered? Maybe one of the CoreBluetooth example projects will help you comparing it to the native world, the API naming was pretty much 1:1 aligned to the native one.

[2017-06-21 09:39] wsliaw commented on #23
@focussing consider discoverServices with UUIDs

[code]

Please tell me what's the result, thank you

[2017-07-25 10:27] rokko84 opened #26 "problem android module"
Hello,
I tried to create the module for android but i have this error:
Launching build and packaging failed
Build failed. Unable to locate generated zip file at /Users/rocco/Documents/Appcelerator_Studio_Workspace/hansemannn.ti.bluetooth-master/dist/ti.bluetooth-android-1.0.1.zip

Can you provide the zip file of the android module?

[2017-08-16 08:30] hansemannn commented on #26
All releases are in the `Releases` tab.

[2017-08-16 08:30] #26 closed

[2017-08-16 08:30] hansemannn commented on #23
Closing due to inactivity. Feel free to reopen if the issue persists.

[2017-08-16 08:31] hansemannn commented on #13
Please file a PR for this improvement, thx.

[2017-08-16 08:31] #13 closed

[2017-09-08 11:45] focussing opened #28 "Example how to setup"
I am struggling to implement the following

- central manager finds peripherals
- I connect to the peripheral I want
[code]

Next I want to get the UUIDs from the services, and subscribe to let's say one of them
My code so far:

[code]

[2017-09-08 11:58] focussing commented on #23
@wsliaw your suggestion gives an error message.

`connectedPeripheral.discoverServices(['49535343-FE7D-4AE5-8FA9-9FAFD205E455']);`

Normally do don't know the service UUID on forehand. For a new Bluetooth module, first you list the services and UUID's in the console. And then you'll want to get the Characteristics per Service, and start listening or sending data to specific Characteristics.

[2017-09-08 12:01] focussing commented on #23
By the way, off course I switched to the latest release of this module 1.2.1

Getting the same result as earlier:
[code]

[2017-09-08 12:02] focussing commented on #23
These characteristics are common ones, giving information about manufacturer etc.
The characteristics of the second service is much more interesting :)

[2017-09-08 13:48] wsliaw commented on #28
You have to add the event listener on the latest peripheral you get

[code]

[2017-09-08 13:53] focussing commented on #28
I am doing that, please take a look at [https://github.com/hansemannn/titanium-bluetooth/issues/23](https://github.com/hansemannn/titanium-bluetooth/issues/23)

I updated that issue today.

[2017-09-08 13:56] hansemannn commented on #23
@focussing So what exact event / method is not working? If you compare it to some Swift examples, it should be nearly 1:1 the name API naming, so that might lead us to the related issue here. Thanks for keeping this active!

[2017-09-19 21:14] hansemannn commented on #23
Reopening to keep track about the process. ping @focussing

[2017-09-20 11:31] FizixRichard opened #29 "Subscribing to characteristics"
Hi,

I'm having trouble subscribing to characteristics and the documentation doesn't explain how. Following the XCode Core Bluetooth documentation isn't helping.

I am trying to subscribe to a couple of services on a BT device, battery and immediate alert.

I'm successfully scanning for devices, finding the device, getting its data, listing services and getting the characteristics.

What I need to

[2017-09-20 15:10] FizixRichard commented on #29
Btw, I think the documentation and example lacks basic info like this. So if anyone can help with this problem then I'll submit working code to the project so that the example/docs are more complete.

[2017-09-21 12:02] hansemannn commented on #23
Thanks to @wsliaw, I just fixed an issue regarding peripherals in 1.2.2 ([Download](https://github.com/hansemannn/titanium-bluetooth/releases/tag/ios-v1.2.2)), please check it out!

[2017-09-22 13:19] lazzaratom commented on #29
Hi how can read data from HM-10 BLE device?
This is my log:
[INFO] :   testBluetooth/1.0 (6.2.1.301ffa4)
[INFO] :   didUpdateState
[INFO] :   Powered On
[INFO] :   didDiscoverPeripheral
[INFO] :   HMSoft
[INFO] :   connecting
[INFO] :
[INFO] :   didConnectPeripheral
[INFO] :   connected to HMSoft
[INFO] :
[INFO] :   didDiscoverServices
[INFO] :   peripheral has 1 service(s)
[INFO] :   service: FFE

[2017-09-24 13:27] FizixRichard commented on #29
Is anyone monitoring this forum?

[2017-09-24 14:03] hansemannn commented on #29
As I am not making example-codes for all kind of possible BLE-use-cases, either something or my or your end is incorrect. Please feel free to submit a fix if something does not work for you.

[2017-09-24 15:31] FizixRichard commented on #29
OK, I followed the core bluetooth examples and when I try to subscribe to either the battery or immediate alert service by setting notify value to true, I am not getting state change callbacks.

here is my code for attempting to get the value and state changes for the battery service:

[code]

and output:
[code]

I'm not sure why the characteristic value is showing as I, and the immediate alert se

[2017-09-24 16:56] hansemannn commented on #29
There are a couple of issues in your code, one sinificant is:
[code]
You cannot set, get and display a value synchronously.

Writing will fire `didUpdateNotificationStateForCharacteristic` (just exposed as a new event), writing will fire `didUpdateValueForCharacteristic`. BLE is highly asynchronous and event-driven, please check the exposed events to receive the correct values and become familiar

[2017-09-25 10:12] lazzaratom commented on #29
Hi FizixRichard  have you solved?

[2017-09-25 10:21] FizixRichard commented on #29
No I haven't, I'm looking through the BTLE core docs and examples as per hansemannn's suggestion. However it doesn't seem to mesh with this API.

[2017-09-25 10:36] lazzaratom commented on #29
Hi hansemannn  what is the right code for read Characteristic notifications from BLE device?
I have 1 service (FFE0) with 1 Characteristic (FFE1).
Can you write sample code?
Thanks in advance.

[2017-09-25 11:07] FizixRichard commented on #29
If I can figure it out I'll post code and an example to the project. Still, any help would be greatly appreciated.

[2017-09-25 12:13] wsliaw commented on #29
[code]

every time the peripheral updates value, `_didUpdateValueForCharacteristic` will be called

[2017-09-25 12:26] lazzaratom commented on #29
Hi wilson,
 this is my code (from app.js example):

var BLE = require('ti.bluetooth');
var peripheralManager;

var win = Ti.UI.createWindow({
	backgroundColor : '#fff'
});

var btn1 = Ti.UI.createButton({
	title : 'Start scan',
	top : 40
});

var centralManager = BLE.createCentralManager();
var peripheralManager = BLE.createPeripheralManager();

btn1.addEventListener('click', function() {
	if (cen

[2017-09-25 12:26] lazzaratom commented on #29
and this is my output:
-- Start application log -----------------------------------------------------
[INFO] :   testBluetooth/1.0 (6.2.1.301ffa4)
[INFO] :   didUpdateState
[INFO] :   Powered On
[INFO] :   Scanning....
[INFO] :   didDiscoverPeripheral
[INFO] :   HMSoft
[INFO] :   Stop scan...
[INFO] :   connecting
[INFO] :   Connected to Periperal...
[INFO] :   Service Discovery...
[INFO] :   peri

[2017-09-25 12:26] lazzaratom commented on #29
what is wrong?

[2017-09-25 12:28] lazzaratom commented on #29
....this is that my module send:

1999-12-01T10:52:48+10:00
1999-12-01T10:52:48+10:00
1999-12-01T10:52:48+10:00
1999-12-01T10:52:48+10:00
1999-12-01T10:52:48+10:00
1999-12-01T10:52:48+10:00
1999-12-01T10:52:48+10:00
1999-12-01T10:52:48+10:00
1999-12-01T10:52:48+10:00
1999-12-01T10:52:48+10:00
1999-12-01T10:52:48+10:00
1999-12-01T10:52:48+10:00
1999-12-01T10:52:48+10:00
1999-12-01T10:52:49+10:00
19

[2017-09-25 12:28] wsliaw commented on #29
woah, this is a lot, haha, maybe you tell me what are you trying to do and what doesn't works, so that i can pin point the problem and save some time

[2017-09-25 12:34] lazzaratom commented on #29
i have a simple project where my device (HM-10) send data to mobile (similar serial communication).
I need to subscribe service and characteristic (FFE0-->FFE1) and print data.
If i use app LightBlue i can read HMSoft is my peripheral FFE0 is service FFE1 is characteristic.
When i put Listen for notifications i receive data from device
it is possible to do this?
Thanks

[2017-09-25 12:38] wsliaw commented on #29
yes you can, so I assume you can get the characteristic now? i think the problem of your code is the way you listen to `_didUpdateValueForCharacteristic`.
try listen it here:
[code]

[2017-09-25 12:47] lazzaratom commented on #29
This is the code:
centralManager.addEventListener('didConnectPeripheral', function(e) {
	Ti.API.info('Connected to Periperal...');
	connectedPeripheral = e.peripheral;
	connectedPeripheral.addEventListener('didDiscoverServices', function(e) {
		Ti.API.info('Service Discovery...');
		peripheralManager = e.peripheral;
		Ti.API.info('peripheral has', peripheralManager.services.length, 'service(s)');

[2017-09-25 12:49] lazzaratom commented on #29
the result is the same

[2017-09-25 12:49] wsliaw commented on #29
you should be more specific, or I can't help you

[2017-09-25 12:50] FizixRichard commented on #29
This isn't working for me.

[code]

output:
[code]

I have a keyfob type peripheral device with a button on it, pressing the button sets the alert level between off, low and high alerts. My app needs to know the current alert level. According to the documentation for the device I can write the alert level or be notified of the alert level. Unfortunately the docs dont explain how.

Using the exampl

[2017-09-25 12:54] wsliaw commented on #29
@FizixRichard
my fault, try this:
[code]

[2017-09-25 13:02] FizixRichard commented on #29
No change, its not notifying me ><

[2017-09-25 13:04] wsliaw commented on #29
Did it go into 'Alert Level Characteristic Found' here?

[2017-09-25 13:06] FizixRichard commented on #29
Here is the code:

[code]

[2017-09-25 13:07] wsliaw commented on #29
The code looks good to me, did you get this log? :  'Alert Level Characteristic Found'

[2017-09-25 13:13] FizixRichard commented on #29
Yep, same as before.

One interesting thing. It kinda works if I change the service/characteristic to the GAP Profile on service: 00001C00-D102-11E1-9B23-000EFB0000A7, characteristics 00001C0F-D102-11E1-9B23-000EFB0000A7 and 00001C01-D102-11E1-9B23-000EFB0000A7

If I attempt to listen to these then I get a response when I press the button:

[code]

I assume one callback for each of the two charact

[2017-09-25 13:15] wsliaw commented on #29
are you using the latest version? 1.3.0

[2017-09-25 13:21] FizixRichard commented on #29
1.2.2, I didn't notice a 1.3.0 update, I'll just update and see what happens

[2017-09-25 13:30] FizixRichard commented on #29
1.3.0 accepts multiple button presses on the proprietary service. Immediate Alert doesn't activate callbacks though.

But, I'm getting callbacks so thank you!

 Two questions though:

1. How would I get the new value in the callback?
2. How do this for multile services though, if I try to do two services then it only fetches characteristics for the last service in the list?

[2017-09-25 13:37] lazzaratom commented on #29
hi with 1.3.0 version i have this error:
var peripheralManager = BLE.createPeripheralManager();

message = "undefined is not an object (evaluating 'peripheralManager.addEventListener')";

[2017-09-25 13:37] wsliaw commented on #29
@FizixRichard
1. `var value = e.characteristic.value.toString();`
2. not sure about that, haven't try it

[2017-09-25 13:40] wsliaw commented on #29
@lazzaratom  shouldn't be, are you sure your peripheralManager is in the same namespace?

[2017-09-25 13:42] FizixRichard commented on #29
Thanks. I'm going to do some expansion on it and I'll put them into some examples and submit them so you can include them in this project if you want.

[2017-09-25 13:43] wsliaw commented on #29
@FizixRichard  you're welcome :)

[2017-09-25 13:50] lazzaratom commented on #29
YESSSSSS!!!!!!
Now finally it' work!!!!!
THANKS A LOT!!!!

[2017-09-25 13:52] wsliaw commented on #29
@lazzaratom congrats, and small tips for you guys, you must do the event listener house keeping, or it will cause memory leaks

[2017-09-25 13:52] lazzaratom commented on #29
just a last question (i hope).
This is the result from my serial monitor:
1999-12-01T15:26:19+10:00
1999-12-01T15:26:19+10:00

and this is the result from BLE:
[INFO] :   didUpdateValueForCharacteristic1999-12-01T15:26:19+
[INFO] :   didUpdateValueForCharacteristic10:00

Is there a limit on characteristic length?

[2017-09-25 13:54] wsliaw commented on #29
@lazzaratom  yes there's a limit but shouldn't be that short

[2017-09-25 14:02] lazzaratom commented on #29
I have read the limit is 20 bytes it's possible?

[2017-09-25 14:06] wsliaw commented on #29
maybe, and I think you can do some research on how to increase the MTU, never try this before

[2017-09-25 14:06] FizixRichard commented on #29
one last thing. On getting the value

[code]

returns:
[code]

I'm getting a TiBlob object, how do I get the actual value from that? I'm not at all familiar with blobs.

[2017-09-25 14:06] FizixRichard commented on #29
Yes I will clean up event listeners :)

[2017-09-25 14:10] wsliaw commented on #29
@FizixRichard `toString()` will convert blob into string, not sure why it doesn't work for you

[2017-09-25 14:32] FizixRichard commented on #29
I assumed as much, how strange. It's definitely reporting a TiBlob though.

[2017-09-25 14:39] wsliaw commented on #29
sorry mate, can't help you with this, do you know what type it should be? or try toString again?

[2017-09-25 14:43] FizixRichard commented on #29
It's ok, I'll figure it out. It should be a string (battery level) or int (alert level)

[2017-09-25 14:51] focussing commented on #29
Yep, that's why a buffer is required, so you are independent of the type (int or string).
Commercially available Bluetooth modules from Logicallabs (see marketplace) use this also.

[2017-09-25 14:54] wsliaw commented on #29
@focussing  correct, e.characteristic.value is a buffer (TiBlob), use toString on it should be able to convert it to string

[2017-09-25 15:55] FizixRichard commented on #29
hmm, battery level comes back as a random character like ">" or ";" whether I output it raw or use ToString(). Could it be getting garboled somewhere?

[2017-10-26 17:24] FizixRichard commented on #29
Thanks for all the help. How do I submit example code to you for documentation? I've got working code to fetch devices, find characteristics, subscribe and listen for state changes on those characteristics. I need to tidy it up first though.

I have a new question though, this doesn't work for the Android module. I made a copy for Android and make changes as per the example, and stripped it down.

[2017-11-21 11:33] bahinapster opened #30 "Android crash"
Hello,

I have installed ti.module for android, but unfortunately the applications crashes  directly when i include the module.

SDK : 6.3.0 GA
Android : 4.4

Best regards.

[2018-04-11 04:38] lazzaratom opened #31 "Upgrade release on android"
Hi,
 Is possible to upgrade ti.bluetooth module for android platform in order to use with last version of appcelerator sdk?

[2018-04-11 07:33] hansemannn commented on #31
Here you go -> https://github.com/hansemannn/titanium-bluetooth/releases/tag/android-2.0.0

Note that Android is not as advanced as iOS so far, so feel free to add more functionality as required.

[2018-04-11 07:33] #31 closed

[2018-04-28 08:00] michelelazzarato commented on #30
Hi,
I'm try to use ti.bluetooth with android device with your sample code in app.js but when I click button start scan my device don't appear il info list.
Is this module for android complete?
Thanks in advance,

    Michele.

[2018-04-28 13:32] michelelazzarato opened #32 "Android module next implementations"
Hi, I try to use ti.bluetooth module on android device but unfortunately few method are present and it is unusable.
When this module for Android platform will be upgraded like iOS platform?
In alternative how can i connect BLE device with android device?
Thanks in advance,

    Michele.

[2018-04-28 14:00] hansemannn commented on #32
Hi! There are no plans to update Android as well. Feel free to submit new changes, thats why I have made it open source.

[2018-10-11 15:38] PietroGranati commented on #32
Any news?

[2018-10-24 08:15] michelelazzarato commented on #32
Hi Pietro no any news.
Where are you from?

Inviato da iPhone

[2018-10-31 18:56] m1ga commented on #32
@michelelazzarato why should it be part of the SDK just because it is part of the phone? That's the beauty of modules, that you just can add them if you need it or not and that it can be updated outside of the SDK.

I don't have any use-case for BT/BLE at the moment, so won't update the Android part to be feature complete. But you could have a look at the Hyperloop example: https://github.com/m1ga

[2018-12-10 17:25] kosso opened #33 "Writing a value blob"
I've managed to successfully get an app to connect to an ESP32  and receive notifications from it.

I'm probably missing something obvious, but how do I create the Blob required for the value I want to write back to the BLE Server on the ESP32 device.?

eg: If I just wanted to send a number?  (counter)

`myPeripheral.writeValueForCharacteristicWithType(counter, myService.characteristics[0], BLE.CH

[2018-12-12 20:08] kosso commented on #33
update: figured it out eventually:

`var buffer = Ti.createBuffer({value : 'foo'});`
`buffer.toBlob()`

[2018-12-12 20:08] #33 closed

[2018-12-12 20:10] kosso opened #34 "Typo in Constant definition"
Docs state a constant `CHARACTERISTIC_PROPERTY_WRITE_WITH_NO_RESPONSE`

Should be `CHARACTERISTIC_PROPERTY_WRITE_WITHOUT_RESPONSE `

(No idea how to fork/fix the Wiki docs ;) )

[2018-12-12 22:35] hansemannn commented on #34
done, thx!

[2018-12-12 22:35] #34 closed

[2018-12-12 22:36] hansemannn commented on #30
Missing test case, closing for now.

[2018-12-12 22:36] #30 closed

[2019-01-25 09:49] olli3 opened #36 "Working Beacon Demo ?"
Has anyone got a working beacon demo, i want to use this to fire an event when a beacon is in range ?

would i use -> didDiscoverPeripheral (for both ios and android)

any help would be appreciated !!

[2019-01-25 11:23] olli3 opened #37 "unable to locate lib.ti.bluetooth.a"
Module ti.bluetooth version 1.3.0 is missing library file: <PATH>modules/iphone/ti.bluetooth/1.0/libti.bluetooth.a

[2019-02-24 21:02] lazzaratom opened #39 "BLE Android don't work fine"
Hi aca-mobile,
I have tried to implement code for android device with new version of this library. didDiscoverPeripheral find my peripheral (in my sample UART Service);
didConnectPeripheral run correctly;
didUpdateValueForCharacteristic don't run correctly:

This is my log:

[INFO] : didDiscoverPeripheral
[INFO] : UART Service
[INFO] : Connect to [object TiBluetoothPeripheral]
[INFO] : e.periphera

[2019-03-07 15:49] lazzaratom commented on #39
Hi to all,
   where can i find a complete example code to test module on android?
Now release 3.0.0 not work fine.
Can you help me?
Best regards,

   Michele.

[2019-04-02 08:43] Chris0714 opened #40 "Android - Unable to instantiate receiver"
Receiver test 1
<receiver android:exported="true" android:name="ti.bluetooth.broadcastReceiver.TiBluetoohBroadcastReceiver" android:enabled="true">

Error log
Unable to instantiate receiver ti.bluetooth.broadcastReceiver.TiBluetoohBroadcastReceiver: java.lang.InstantiationException: java.lang.Class<ti.bluetooth.broadcastReceiver.TiBluetoohBroadcastReceiver> has no zero argument constructor

This e

[2019-04-03 05:29] Chris0714 commented on #40
reference : https://stackoverflow.com/questions/43128653/intentservice-error-no-default-constructor

public TiBluetoohBroadcastReceiver() {
  super();
}

Add these code to TiBluetoohBroadcastReceiver.java solve my problem.

[2019-04-03 06:28] hansemannn commented on #40
@Chris0714 Please fill a pull request so others can benefit from this issue as well. Also, if an update occurs, you don't need to re-patch it. Thanks!

[2019-04-03 06:32] Chris0714 commented on #40
OK sir.

[2019-04-03 06:37] Chris0714 commented on #40
@hansemannn what is the next step after clicking the "new pull request" button ? i never done this before. Sorry.

[2019-04-03 07:15] Chris0714 commented on #40
public final class TiBluetoohBroadcastReceiver

remove the final

public class TiBluetoohBroadcastReceiver

[2019-04-04 16:44] m1ga commented on #40
@Chris0714 can you please test this PR: https://github.com/hansemannn/titanium-bluetooth/pull/41
Binary is here: https://github.com/hansemannn/titanium-bluetooth/blob/a625ad60097523786ed45f41fc18f472840352f2/android/dist/ti.bluetooth-android-3.0.1.zip

[2019-04-04 19:17] #40 closed

[2019-05-09 07:43] michelelazzarato commented on #39
Hi everyone,
 I wanted to know if this development to someone works correctly because in my case I can't receive notifications from the external device. I would also like to receive a negative response so at least I don't lose more time.
Thanks for your collaboration,
   Michele.

[2019-05-29 16:36] michelelazzarato commented on #39
Hi everyone,
 I have solved!!!
Thanks a lot,
   Michele.

[2019-05-29 16:37] michelelazzarato commented on #32
Hi everyone,
 i have solved.
Thanks a lot,

   Michele.

[2019-05-29 16:37] #32 closed

[2019-06-11 12:14] AmarDCintas commented on #39
Hi Michele,
I am facing same issue, can you please tell me how you fixed it.

[2019-06-11 15:52] AmarDCintas commented on #39
Hi Michele,
I am facing same issue, can you please tell me how you fixed it.

[2019-07-01 16:28] tav3lla commented on #39
Hi, i have the same issue.
Can you help me?

[2019-09-13 17:09] tav3lla opened #42 "didUpdateValueForCharacteristic doesn't show the value"
Hi,

i have a problem with event didUpdateValueForCharacteristic.
The response is void:
didDiscoverCharacteristicsForService

[INFO] :   {
[INFO] :       bubbles = 1;
[INFO] :       cancelBubble = 0;
[INFO] :       error = "<null>";
[INFO] :       peripheral =     {
[INFO] :       };
[INFO] :       service =     {
[INFO] :       };
[INFO] :       source =     {
[INFO] :       };
[INFO] :       typ

[2019-09-16 07:19] #42 closed

[2019-09-16 07:21] tav3lla commented on #42
Hi,
the problem was my ble device, sorry.

thanks

[2019-10-18 23:03] kosso opened #43 "Build for 8.2.0.GA?"
Hi,
I can't seem to get this to build using Ti. SDK 8.2.0.GA.   (ios)

Are you able to?

[2019-10-18 23:26] kosso commented on #43
The XCode project seem to be very out of date now. :/

[2019-12-10 13:34] kosso commented on #43
Still having no luck getting XCode to build this.

(I'm attempting to add the readRSSI callback to be able to repeatedly measure signal strength using https://developer.apple.com/documentation/corebluetooth/cbperipheraldelegate/1620304-peripheral)

[2020-03-04 22:35] maxandreatta opened #45 "Script Error Couldn't find module: ./ti.internal/extensions/Error for architecture: arm64"
I apologize for my english, but I have a big problem in using the form.
While starting the application I get this error:

2020-03-04 23:33:10.721848+0100 poc-app-transfer-data-ble[1490:537465] [DEBUG] Reading stylesheet from: /private/var/containers/Bundle/Application/879F6206-B8F6-445E-801C-A0FA9560BD21/poc-app-transfer-data-ble.app/stylesheet.plist
2020-03-04 23:33:10.766686+0100 poc-app-transfe

[2020-06-02 13:03] hansemannn commented on #45
Not related to this module

[2020-06-02 13:03] #45 closed

[2020-06-02 13:03] hansemannn commented on #43
The event is added now and built with SDK 9+

[2020-06-02 13:03] #43 closed

[2020-06-05 09:40] hansemannn commented on #36
See `example/beacons.js` in version@2.0.0

[2020-06-05 09:40] #36 closed

[2020-08-11 12:51] vamsi909 commented on #39
Hi Michele can you please share the fix for the above issue , I am also getting same issue and stuck for android .

[2021-01-18 01:26] gavelez35 commented on #39
@m1ga @hansemannn Hi, I've been trying to get this module to work on Android 9.0 but I've been unsuccessful? It is working fine for iOS and the data is flowing through as expected. However, on my Android device, when I try to read the value property of the characteristic I get the following error:

[INFO]  ">>> CALLED processTestAvailable: 00000000-0000-1000-8000-BBBD00000011"
[WARN]  TiBlob: (mai

[2021-01-18 07:47] m1ga commented on #39
@gavelez35 please don't link us in tickets. And then check your code. You set `charTTEST` in:
[code]
in that if and try to read it in another if-case inside an event. Try the code people posted above and if you need help using the module please use ti-slack or stackoverflow, not the ticket here.

I'll close this issue here. If there is still an issue with the module on Android feel free to open a

[2021-01-18 07:47] #39 closed

[2021-01-18 15:47] gavelez35 commented on #39
@m1ga okay thank you, as mentioned the same code worked fine for iOS. That charTTEST variable should still be in scope, but I'll confirm. I think my scenario is slightly different. I have to first wait for write event on one characteristic, which then tells me to read another characteristic for the data from the peripheral. I'll check out those other communication methods you mentioned. Again, wha

[2021-01-18 15:59] m1ga commented on #39
there error appears here: https://github.com/grazianogrespan/titanium-bluetooth/blob/master/android/src/ti/bluetooth/gatt/TiBluetoothCharacteristicProxy.java#L59

so it looks like that `characteristic` (or `characteristic.getValue()`) is null.

[2021-02-27 20:23] gavelez35 opened #47 "On iOS setNotifyValueForCharacteristic(false) and removeEventListener('didUpdateValueForCharacteristic') is not working"
After processing test data from a BLE device, the didUpdateValueForCharacteristic callback is constantly called, even after setting the notify value to false, and/or removing the event listener. On Android the same code works as desired:

![image](https://user-images.githubusercontent.com/35150738/109399236-ac78cb80-790f-11eb-8b81-a82a6c29af9a.png)

[2021-05-05 18:25] m1ga opened #48 "Android: crash on startup with attached headphones"
User found an interesting way to freeze the app with the module:

* app closed (nothing in the background)
* disable bluetooth/gps
[code]
* enabling bluetooth/gps
* headset is connected automatically
* opening my BT test app
[code]
-> app won't start. timeout/crash:
[code]
**Setup**
* Android 11, Pixel 4
* module version 4.0.0
* Ti SDK 9.3.2.GA

**Current workaround:**
removing `<action android:na

[2021-05-06 19:36] gavelez35 commented on #48
@m1ga I received positive news from one of our users on Android 11 and your 4.0.1 version with the removed action from the manifest. He informs me that it is stable :) Great stuff!

[2021-05-07 07:41] m1ga commented on #48
@gavelez35 Thanks for the info! I'll take another look at the weekend and will make a PR with this fix

[2021-08-24 17:39] kosso opened #49 "Example crashes on Ti SDK 10.0.2.GA"
The example app works OK for me on Ti SDK 9.2.1.GA ..

But when running on an app built by Ti SDK 10.0.2.GA, it throws this error when trying to connect in the `startScanning()` method in the example :

`TypeError: centralManager.getState is not a function. (In 'centralManager.getState()', 'centralManager.getState' is undefined)`

[2021-08-24 18:13] kosso commented on #49
OK. It appears it's just down to the deprecation of the getters and setters.

So the example just needs to be updated to check for `centralManager.state`  and not `centralManager.getState()`

[2021-08-24 18:13] #49 closed

[2021-08-24 18:40] kosso opened #50 "Android 11 support?"
I seem to be able to get this module working ok on a very old Android device running Android 5.1.
(I'm connecting to an ESP32 dev module.)

But I'm having no luck connecting to anything when running on a newer device with Android 11 using the same code.

Anyone have any ideas what might need to be updated?

[2022-03-06 15:27] chatis opened #53 "No peripheral"
Hello,

I use your exemple code but When I start scanning, I don't see any peripheral in the log... Any idea why?

Thank you

[2022-03-17 16:49] m1ga commented on #53
Are you using the Android version? If so I recommend using the https://github.com/tidev/appcelerator.ble/ module now.
Have a look at https://titaniumsdk.com/api/modules/ble.html and make sure to use https://titaniumsdk.com/api/modules/ble.html#requestpermissions to request permission for Android 12+